.header {
	display: inline-flex;
	background: #258DED;
	color: white;
	height: 60px
}

.menubtn {
	width: 15%;
	height: 100%;
	font-size: 30px;
	background: #0f69bd
}

.title {
	margin: 0px !important;
	width: 85%;
    padding-left: 5%;
    padding-top: 15px;
    font-size: 24px;
    letter-spacing: 1px;
}