.header {
	width: 100%;
    background: #258DED;
    height: 60px;
}

.header-main-div {
	display: flex;
    width: 100%;
    height: 100%;
    color: #333;
}

.header-back-button-div {
    width: 15%;
    display: flex;
}

.header-back-button{
    background: transparent;
    margin: auto;
    font-size: 25px;
    color: #333;
}

.header-title-div {
    width: 70%;
    display: flex;
}

.header-title {
	margin: auto auto auto 2%;
    font-size: 20px;
    font-weight: bolder;
}

.header-search-bar-div {
    width: 15%;
    display: flex;
}

.header-search-bar {
    background: transparent;
    font-size: 20px;
    color: #333;
}

.channel-main-div {
	width: 95%;
    display: flex;
    margin: 10px auto;
    box-shadow: 0px 0px 4px;
    border-radius: 5px;
	height: 120px
}

.channel-sub-div1 {
	width: 30%;
}

.channel-sub-div2 {
	width: 70%;
}

.channel-image-div {
	width: 100%;
	height: 120px;
}

.channel-image {
	width: 100%;
	height: 100%;
	border-radius: 5px 0px 0px 5px;
}

.channel-text-div {
    width: 100%;
    height: 120px;
}

.channel-text {
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    background: #333;
    display: flex;
    color: #fff;
    font-size: 40px;
    justify-content: space-around;
    padding-top: 25%;
    font-weight: bolder;
}

.channel-nav-button {
	margin: auto 0px auto auto;
    background: white;
}

.channel-nav-button-div {
	width: 25%;
	display: flex;
}

.channel-head-div {
	display: flex;
    width: 98%;
    height: 40%;
}

.channel-head {
	width: 75%;
	margin: auto 0px auto 5%;
	font-weight: bolder;
	font-size: 18px;
}

.channel-footer-div {
	height: 30%;
    width: 95%;
    display: flex
}

.channel-footer2 {
	color: #777;
    font-size: 12px;
    width: 100%;
    margin: auto;
    padding-top: 10%;
}

.channel-body-div {
	height: 30%;
    width: 100%;
    display: flex
}

.channel-body {
    width: 100%;
    margin: auto 0px auto 5%;
    color: #333;
}

.channel-footer1 {
	margin: auto auto auto 15%;
    font-size: 12px;
    padding-top: 15%;
    color: #777;
}

.channel-footer-subdiv1 {
	width: 40%;
    display: flex;
}

.channel-footer-subdiv2 {
	width: 60%;
    text-align: end;
    display: flex;
}