.channel-info-body-div {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.channel-info-image-div {
    width: 100%;
    position: relative;
    height: 280px;
}

.channel-info-bgimage-div {
	width: 100%;
    height: 100%;
    position: absolute;
}

.channel-info-bgimage {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    position: relative;
}

.overylay-channel-info {
	position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
}

.channel-info-back-button-div {
    width: 20%;
    margin: 10% auto auto 10%;
}

.channel-info-back-button {
    background: rgba(0, 0, 0, 0);
    font-size: 26px;
}

.channel-info-roundimage-div {
	width: 80%;
    height: 100%;
    display: flex;
}

.channel-info-image {
	width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto auto auto 5%;
}

.channel-info-div {

}

.channel-info-name-div {

}

.channel-name-div {

}

.channel-name {

}

.channel-nametext-div {

}

.channel-nametext {

}

.channel-info-type-div {

}

.channel-type-div {

}

.channel-type {

}

.channel-typetext-div {

}

.channel-typetext {

}

.channel-info-location-div {

}

.channel-location-div {

}

.channel-location {

}

.channel-locationtext-div {

}

.channel-locationtext {

}

.channel-info-description-div{

}

.channel-description-div {

}

.channel-description {

}

.channel-descriptiontext-div {

}

.channel-descriptiontext {

}

























