<ion-header class="header">
	<div class="header-div">
		<div class="header-sub-div1">
			<button class="header-back-button" routerLink="/manageChannel" type="button"><i class="fas fa-chevron-left"></i></button>
		</div>
		<div class="header-sub-div2">
			<img class="header-title-image" src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
			<!-- <div class="header-title-text">
				<p class="header-title-txt">T</p>
			</div> -->
			<p class="header-title">Test Channel</p>
		</div>
		<div class="header-sub-div3">
			<button class="header-info-button" routerLink="/managechannelinfo" type="button"><i class="fas fa-info"></i></button>
		</div>
	</div>
</ion-header>

<ion-content>

	<div class="message-main-div">
		<div class="message-header-div">
			<div class="message-image-div">
				<img class="message-image" src="https://images.unsplash.com/photo-1499084732479-de2c02d45fcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
			</div>
			<div class="message-text-div">
				<p class="message-text">njviu gug iygg iygiu giubh j kbijg uyfy fiyou goughio8 gtiyf yifv iugviu giyf uydftuvhviug iyfgy ufviyg iug iufguyf tuhjvhvbiy tdf tuftf uyfiy giug iyg</p>
			</div>
		</div>
		<div class="message-footer-div">
			<div class="message-datetime-div">
				<p class="message-datetime">dd/mm/yyyy hh:mm</p>
			</div>
		</div>
	</div>
	
	<div id="popupdiv" class="popup_div">
		<div class="validity_add_popup">
			<div class="validity_text_div">
				<p class="add_validity_text">Add Validity</p>
			</div>
			<div class="validity_close_div">
				<button class="validity_closebtn" (click)="closepopup()" type="button"><i class="fas fa-times"></i></button>
			</div>
		</div>
		<div class="time_date_div">
			<ion-item>
			      <ion-label>Start Day</ion-label>
			      <ion-datetime displayFormat="MM/DD/YYYY" min="2020-01-01" max="2020-12-31"></ion-datetime>
		    </ion-item>
			<ion-item>
			      <ion-label>Start Time</ion-label>
			      <ion-datetime displayFormat="h:mm a"></ion-datetime>
		    </ion-item>
		    <ion-item>
			      <ion-label>End Day</ion-label>
			      <ion-datetime displayFormat="MM/DD/YYYY" min="2020-01-01" max="2020-12-31"></ion-datetime>
		    </ion-item>
			<ion-item>
			      <ion-label>End Time</ion-label>
			      <ion-datetime displayFormat="h:mm a"></ion-datetime>
		    </ion-item>
		</div>
		<div class="popup_save_div">
			<button class="popup_save_btn" (click)="savetimedate()" type="button">Save</button>
		</div>
	</div>

	<div class="footer_div">
		<div class="footer_txtarea_div">
			<div class="textarea_div">
				<textarea class="textarea"></textarea>
			</div>
			<div class="footer_btn_div">
				<div class="attach_div">
					<button class="attach_btn" type="button"><i class="fas fa-paperclip"></i></button>
				</div>
				<div class="send_div">
					<button class="send_btn" type="button"><i class="fas fa-paper-plane"></i></button>
				</div>
			</div>
		</div>
		<div class="footer_addtime_div">
			<div class="addtime_div">
				<button class="add_btn" (click)="popupvalidity()" type="button">Message Validity Setup</button>
			</div>
			<div class="validity_div">
				<p class="validity_text">Validity: 2 Days</p>
			</div>
		</div>
	</div>

</ion-content>
