<ion-content style="background: black">
	<div class="bg-img">
		<img src="./assets/image/bg.png">
		<div class="bg-overlay d-flex">
			<p>Prime Messages</p>
		</div>
		<div class="bg-overlay2">
			<p>Enter the OTP in the below field we have send you in +99 999 999 9999.</p>
		</div>
		<div class="bg-overlay3">
			<input class="number-input" type="text" maxlength="4" pattern="[0-9]{10}" name="phnum" placeholder="Enter your OTP here...">
		</div>
		<div class="bg-overlay4">
			<button class="next-button" routerLink="/profile" type="button"><img src="./assets/image/next-arrow.png"></button>
		</div>
	</div>
</ion-content>
