.bg-img {
	position: relative;
	background: #333;
	height: 100%;
	width: 100%;
}

.bg-overlay {
	top: 1%;
	position: absolute;
	width: 100%;
	justify-content: space-around;
	color: #333;
	font-family: 'Rubik-Bold';
	font-size: 20px;
}

.bg-overlay2 {
	top: 20%;
	position: absolute;
	width: 70%;
	padding-left: 3%;
	color: #333;
	text-align: justify;
	font-size: 15px;
}

.bg-overlay3 {
	top: 70%;
	position: absolute;
	width: 100%;
	text-align: center;
}

.number-input {
	border: 0.5px solid rgba(0, 0, 0, 0.5);
	width: 60%;
	border-radius: 5px;
	height: 40px;
	text-align: center;
	background: #333;
    color: white;
}

.bg-overlay4 {
	width: 100%;
	text-align: center;
	top: 85%;
	position: absolute;
}

.next-button {
	height: 60px;
    width: 60px;
    padding: 0px !important;
    border-radius: 100%;
    background: #04804C
}