<ion-content>
	<div class="bg-img">
		<img src="./assets/image/bg.png">
		<div class="bg-overlay d-flex">
			<p>Prime Messages</p>
		</div>
		<div class="bg-overlay2">
			<div class="profileimg">
				<img src="./assets/image/profile.png">
			</div>
		</div>
		<div class="bg-overlay3">
			<input class="name-input" type="text" maxlength="20" name="phnum" placeholder="Enter your Name here...">
		</div>
		<div class="bg-overlay4">
			<button class="next-button" routerLink="/menu" type="button"><img src="./assets/image/next-arrow.png"></button>
		</div>
	</div>
</ion-content>
