.header {
	background: #258DED;
	color: white;
	height: 50px
}

.header-div {
	display: flex;
    width: 100%;
}

.header-sub-div1 {
	width: 15%
}

.header-back-button {

}

.header-sub-div2 {
	width: 70%
}

.header-title {
	
}

.header-sub-div3 {
	width: 15%
}

.header-info-button {

}
