.profiediv {
	width: 100%;
	height: 304px;
	position: relative;
}

.profilepicdivbg {
	width: 100%;
	height: 100%
}

.profilepicbg {
	width: 100%;
	height: 100%;
	filter: blur(5px)
}

.profilepicdiv {
	position: absolute;
	top: 15%;
	width: 100%;
	height: 100%;
	text-align: center;
}

.profilepic {
	width: 60%;
	height: 60%;
	border-radius: 100%
}

.profilenamediv {
	position: absolute;
	top: 85%;
	width: 100%;
	text-align: center;
}

.profilename {
	color: white;
    font-size: 20px;
    font-weight: bolder;
}

.sidemenuimg {
	width: 15%;
	margin-right: 10%;
}

ion-content {
	--background: #333;
	--color: white;
}

ion-list {
	background: #333;
}

ion-item {
	--background: #333;
	--color: white;
	--inner-padding-start: 10px;
	--padding-start: 0px;
	--border-style: none;
	border-bottom: 0.5px solid white;
}








