.channel-info-body-div {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #333
}

.channel-info-image-div {
    width: 100%;
    position: relative;
    height: 280px;
}

.channel-info-bgimage-div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.channel-info-noimg-div {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0062cc;
}

.channel-info-bgimage {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    position: relative;
}

.overylay-channel-info {
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
}

.channel-info-back-button-div {
    position: absolute;
    height: 100%;
    z-index: 1;
    width: 20%;
    display: flex;
}

.channel-info-back-button {
    background: transparent;
    color: #333;
    font-size: 25px;
    margin: 40% auto auto 40%;
    padding: 0px;
}

.channel-info-roundimage-div {
    position: absolute;
    height: 100%;
    display: flex;
    width: 100%;
    margin: auto;
}

.channel-info-roundtext-div {
    position: absolute;
    height: 100%;
    display: flex;
    width: 100%;
}

.channel-info-roundtext {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #0062cc;
    display: flex;
    box-shadow: 0 0 5px;
}

.textround {
    margin: auto;
    display: flex;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
}

.channel-info-image {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 100%;
}

.channel-info-div {
    width: 90%;
    margin: auto;
}

.channel-info-name-div {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 3%;
}

.channel-name-div {
    width: 50%;
    display: flex;
    margin: auto auto auto 5%;
}

.channel-name {
    margin: 0px;
    font-size: 16px;
    color: #666
}

.channel-nametext-div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: auto 5% auto auto;
}

.channel-nametext {
    margin: 0px;
    font-size: 18px;
    color: #333;
    font-weight: bolder;
}

.channel-info-id-div {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 3%;
}

.channel-id-div {
    width: 50%;
    display: flex;
    margin: auto auto auto 5%;
}

.channel-id {
    margin: 0px;
    font-size: 16px;
    color: #666
}

.channel-idtext-div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: auto 5% auto auto;
}

.channel-idtext {
    margin: 0px;
    font-size: 18px;
    color: #333;
    font-weight: bolder;
}

.channel-info-type-div {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 3%;
    margin-top: 3%
}

.channel-type-div {
    width: 50%;
    display: flex;
    margin: auto auto auto 5%;
}

.channel-type {
    margin: 0px;
    font-size: 16px;
    color: #666
}

.channel-typetext-div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: auto 5% auto auto;
}

.channel-typetext {
    margin: 0px;
    font-size: 18px;
    color: #333;
    font-weight: bolder;
}

.channel-info-location-div {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 3%;
    margin-top: 3%
}

.channel-location-div {
    width: 50%;
    display: flex;
    margin: auto auto auto 5%;
}

.channel-location {
    margin: 0px;
    font-size: 16px;
    color: #666
}

.channel-locationtext-div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: auto 5% auto auto;
}

.channel-locationtext {
    margin: 0px;
    color: #333;
    font-size: 18px;
    font-weight: bolder;
}

.channel-info-description-div{
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 3%;
    margin-top: 3%;
}

.channel-description-div {
    width: 100%;
    margin-left: 5%;
    color: #666;
}

.channel-description {
    margin: 0px;
}

.channel-descriptiontext-div {
    width: 100%;
    margin-left: 5%
}

.channel-descriptiontext {
    width: 90%;
    background: #333;
    color: white;
    text-align: justify;
    padding: 2%;
}