<ion-header class="header">
	<div class="header-main-div">
		<div class="header-back-button-div">
			<button class="header-back-button" routerLink="/menu" type="button"><i class="fas fa-chevron-left"></i></button>
		</div>
		<div class="header-title-div">
			<p class="header-title">Search Channels</p>
		</div>
		<div class="header-search-bar-div">
			<button class="header-search-bar" type="button"><i class="fas fa-search"></i></button>
		</div>
	</div>
</ion-header>

<ion-content>

	<div class="channel-main-div">
		<div class="channel-sub-div1">
			<!-- <div class="channel-image-div">
				<img class="channel-image" src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
			</div> -->
			<div class="channel-text-div">
				<div class="channel-text">T</div>
			</div>
		</div>
		<div class="channel-sub-div2">
			<div class="channel-head-div">
				<p class="channel-head">Test Channel</p>
				<div class="channel-nav-button-div">
					<button (click)="getUrl()" class="channel-nav-button" type="button"><i class="fas fa-chevron-right"></i></button>
				</div>
			</div>
			<div class="channel-body-div">
				<p class="channel-body">Type: Entertainment</p>
			</div>
			<div class="channel-footer-div">
				<div class="channel-footer-subdiv1">
					<p class="channel-footer1"><i class="fas fa-users"></i> 5</p>
				</div>
				<div class="channel-footer-subdiv2">
					<p class="channel-footer2"><i class="fas fa-map-marker-alt"></i> kanyakuamri</p>
				</div>
			</div>
		</div>
	</div>

</ion-content>
