<ion-content class="no-gutters">
    <div class="row blue-container">
        <div class="col-12 blue-container-img">
            <img src="./assets/image/landing.png">
        </div>
        <div class="col-12 blue-container-text">
            <h2>Welcome to <br><span style="font-family:'Rubik-Bold">Prime Messages</span></h2>
        </div>
    </div>
    <div class="bg-color">
         <div class="d-flex text-center text-div">
            <p>Click on the <span style="color: #258DED">Start Subscribing</span> button to Register and start subscribing your favorite channels and get exclusive offers and news</p>
        </div>
        <div class="text-center">
            <button type="button" routerLink="/numberentry" class="btn start-btn">Start Subscribing</button>
        </div>
    </div>
</ion-content>