.blue-container {
	height: 55%;
    background: #258DED;
    position: relative;
}

.blue-container-img {
	position: absolute;
    width: 50%;
    transform: translate(50%, 50%);
}

.blue-container-text {
	position: absolute;
    text-align: center;
    top: 70%;
    color: #333;
    letter-spacing: 2px;
}

.text-div {
    font-size: 12px;
    color: #04804C;
}

.start-btn {
	color: #333;
	background: #258DED;
	margin-top: 15%;
    width: 75%;
}

.bg-color {
    background: #333;
    padding: 15% 15% 0% 15%;
    height: 45%;
}